* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.h1-heading {
  font-size: 36px;
  line-height: 43px;
  color: #303030;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}
.h2-heading {
  font-size: 24px;
  line-height: 27px;
  color: #303030;
  font-weight: 700;
  margin-top: 1px;
  margin-bottom: 1px;
}
.single-product-section {
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}

.content-area {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product-img-class {
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 4px;
}

.product-description > p {
  text-align: center;
  font-size: 16px;
  color: #303030;
  line-height: 27px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-variation {
  padding-top: 59px;
}
#variation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.variation-paper-size {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px #000 solid;
  padding: 40px;
}
.variation-heading-div {
  padding-bottom: 29px;
}
.choose-option {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.choose-option-one {
  margin: 10px 0;
  padding: 30px 10px;
  width: 285px;
  text-align: center;
  border: 2px #efefef solid;
  cursor: pointer;
  border-radius: 5px;
}
.choose-option-one:active,
.choose-option-two:active,
.choose-option-for-number:active,
.pricing-table-item-main:active {
  background-color: #efefef;
}
.choose-option-two {
  margin: 10px 0;
  padding: 30px 10px;
  width: 285px;
  text-align: center;
  border: 2px #efefef solid;
  cursor: pointer;
  border-radius: 5px;
}
.choose-option-text {
  margin-top: 14px;
  font-size: 16px;
  color: #303030;
  line-height: 27px;
}
.variation-paper-selected-value {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px #000 solid;
  padding: 40px;
}
.selected-option-heading {
  padding-bottom: 19px;
}
.clicked-value-display {
  font-size: 16px;
  color: #303030;
  line-height: 27px;
  font-weight: 500;
}
.for-option-changing {
  font-size: 16px;
  color: #dfa46a;
  line-height: 27px;
  font-weight: 500;
  cursor: pointer;
}

.choose-option-numbers {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.choose-option-for-number {
  padding: 10px 0;
  width: 215px;
  text-align: center;
  border: 2px #efefef solid;
  cursor: pointer;
  border-radius: 5px;
}
.choose-option-number-text {
  font-size: 24px;
  line-height: 27px;
  font-weight: 800;
  color: #303030;
}
.variation-choose-prices {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
}
.variation-pricing-text {
  text-align: left;
  padding: 40px 40px 18px 40px;
}
.variation-pricing-paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #303030;
  line-height: 27px;
  margin-top: 4px;
  margin-bottom: 9px;
}
.pricing-table-heading {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.main-price-head {
  width: 25%;
  font-size: 16px;
  font-weight: 700;
  color: #303030;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  line-height: 27px;
}
.br-next-line {
  padding-top: 8px;
  line-height: 27px;
}
.pricing-table-all-list {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pricing-table-item-main {
  display: flex;
  border: 1px #efefef solid;
  cursor: pointer;
  padding: 15px;
}
.pricing-table-item-1 {
  display: flex;
  width: 80%;
}
.pricing-table-item-content {
  width: 31.1%;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
  color: #303030;
}
.pricing-table-item-2 {
  width: 20%;
  text-align: center;
}
.pricing-table-item-price {
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  line-height: 27px;
  color: #303030;
}
.clear-all-selection {
  padding: 16px 10px 10px 10px;
}
.clear-all-selection-text {
  text-decoration: underline;
  font-size: 13px;
  line-height: 27px;
  font-weight: 500;
  text-align: right;
  padding: 4.5px 25px;
  cursor: pointer;
}
.contact-us-info {
  padding: 5px 40px;
}
.contact-us-info-text {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  line-height: 27px;
  color: #303030;
}
@media only screen and (max-width: 1099px) {
  .choose-option-one,
  .choose-option-two {
    width: 250px;
  }
}
@media only screen and (max-width: 767px) {
  .h1-heading {
    font-size: 28px;
  }

  .main-price-head {
    font-size: 13px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 651px) {
  .main-price-head {
    font-size: 11.5px;
    line-height: 17px;
  }
}
@media only screen and (max-width: 580px) {
  .main-price-head {
    font-size: 10px;
    line-height: 15px;
  }
  .pricing-table-item-content,
  .pricing-table-item-price {
    font-size: 12px;
    line-height: 18px;
  }
  .pricing-table-item-main {
    padding: 10px 6px;
  }
}
@media only screen and (max-width: 425px) {
  .choose-option-one,
  .choose-option-two {
    width: 200px;
  }
  .variation-pricing-text {
    text-align: left;
    padding: 40px 20px 30px 20px;
  }
  .variation-paper-size,
  .variation-paper-selected-value {
    padding: 20px;
  }
  .pricing-table-item-main {
    padding: 10px 3px;
  }
  .contact-us-info {
    padding: 5px 20px;
  }
  .clear-all-selection-text {
    padding: 4.5px 15px;
  }
}
